/Library/
/Temp/
/SubtitlesForReality.csproj
/SubtitlesForReality.Editor.csproj
/SubtitlesForReality.Plugins.csproj
/SubtitlesForReality.sln
/DesktopSpeechRecognizer/bin/
/DesktopSpeechRecognizer/obj/
/DesktopSpeechRecognizer/packages/
/DesktopSpeechRecognizer/.vs/


/SpeechClientWrapper/bin/
/SpeechClientWrapper/obj/
/DesktopSpeechRecognizer/ClientWrapeprTester/bin/
/DesktopSpeechRecognizer/ClientWrapeprTester/obj/
/DesktopSpeechRecognizer/ClientWrapeprTester/packages/
/DesktopSpeechRecognizer/ClientWrapeprTester/.vs/

/SpeechLog/
/Packages/
/.vs/